* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100% !important;
    margin:0px;
    padding:0px;
}

.logo{width:250px}
.logoP{text-align:center;margin-top:50px; margin-bottom:50px;}

.line div{width:45%; padding:10px}
.metroImg{}
.line .left{float:left;}
.line .right{float:right}

#newsContent .event .headLine h3{
	float:right;
}
#newsContent .event .headLine h3:first-child{
	float:left;
}
#newsContent .event .body{
	clear:left;
}
.gray{
	background-color:silver;
}
.newsID{
display:none;
}
#eventH{
	font-size:20px;
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
	background-color:red;
	color:White;
}
#eventHBut{
	display:none;
	float:left;
	color:white;
}
#eventAdd{
	display:none;
	float:right;
	color:white;
	padding-right:10px;
}